.cardBoard {
  width: 100vw;
  height: 85vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.2em;
}

.grid-item {
  border: 1px solid rgb(122, 122, 122);
  min-height: 3em;
}

.modelSelection {
  background-color: rgb(190, 210, 226);
  grid-column: 1 / 4; /* Occupe la colonne 1 à 3 */
  grid-row: 1 / 7; /* Occupe les rangées 1 à 6 */
}

.textsForm {
  background-color: rgb(190, 210, 226);
  grid-column: 4 / 10; /* Occupe la colonne 4 à 8 */
  grid-row: 1 / 2; /* Occupe les rangées 1 à 1 */
}

.colorsSelection {
  background-color: rgb(190, 210, 226);
  grid-column: 10 / 13; /* Occupe la colonne 10 à 12 */
  grid-row: 1 / 4; /* Occupe les rangées 1 à 3 */
}

.fontsSelection {
  background-color: rgb(190, 210, 226);
  grid-column: 10 / 13; /* Occupe la colonne 10 à 12 */
  grid-row: 4 / 7; /* Occupe les rangées 4 à 6 */
}

.cardDisplay {
  background-color: rgb(190, 210, 226);
  grid-column: 4 / 10; /* Occupe la colonne 4 à 8 */
  grid-row: 2 / 6; /* Occupe les rangées 3 à 6 */
}

.other {
  background-color: rgb(190, 210, 226);
  grid-column: 4 / 10; /* Occupe la colonne 4 à 8 */
  grid-row: 6 / 7; /* Occupe les rangées 6 à 6 */
}
