@media (min-width: 1210px) {
  .cardBoard {
    width: 100vw;
    height: 85.5vh;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    // gap: 0.6em;
  }
  
  .modelSelection {
    min-width: 15em;
    grid-column: 3 / 5; /* Occupe la colonne 2 à 3 */
    grid-row: 1 / 7; /* Occupe les rangées 1 à 6 */
  }
  
  .textsForm {
    min-width: 35em;
    grid-column: 5 / 9; /* Occupe la colonne 4 à 9 */
    grid-row: 1 / 3; /* Occupe les rangées 1 à 2 */
  }

  .cardDisplay {
    min-width: 35em;
    grid-column: 5 / 9; /* Occupe la colonne 4 à 9 */
    grid-row: 3 / 6; /* Occupe les rangées 3 à 5 */
  }
  
  .download {
    min-width: 35em;
    grid-column: 5 / 9; /* Occupe la colonne 4 à 9 */
    grid-row: 6 / 7; /* Occupe les rangées 6 à 6 */
  }

  .globalSettings {
    min-width: 15em;
    grid-column: 9 / 11; /* Occupe la colonne 10 à 11 */
    grid-row: 1 / 7; /* Occupe les rangées 1 à 3 */
  }
}


@media (max-width: 1209px) {
  .cardBoard, .cardDisplay, .modelSelection, .textsForm, .globalSettings, .download {
    width: 35em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
  }
}

.textsForm {
  background-color: rgb(223, 235, 245);
}

.cardBoard {
  min-height: 50em;
  color: black;
}

.cardDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 15em;
}

.model {
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgb(100, 100, 100);
  background-color: white;
}

.selected {
  border: 3px solid red;
}

.modelSelection {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 2em;
  min-height: 50em;
  border-radius: 40px 0px 0px 40px;
  background: linear-gradient(to right, rgb(223, 235, 245) 20%, rgb(16, 14, 29) 80%);
}

.globalSettings {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 2em;
  justify-content: space-around;
  border-radius: 0px 40px 40px 0px;
  background: linear-gradient(to right, rgb(16, 14, 29) 20%, rgb(223, 235, 245) 80%);
} 

.models-list {
  margin-top: -1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.download {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 3em;
  gap: 3em;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(to bottom, rgb(223, 235, 245), rgb(16, 14, 29));
}

.textsForm {
  display: flex;
  flex-direction: column;
  font-family: 'Kanit';
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  font-weight: bold;
  min-width: 40em;
  min-height: 16em;
  border-radius: 0px 0px 15px 15px;
  background: linear-gradient(to top, rgb(223, 235, 245) 1%, rgb(16, 14, 29) 99%);
}

.textsForm input {
  padding-left: 0.5em;
  font-family: 'Kanit';
  width: 13em;
}

.info-col-1 {
  width: 5em;
  text-align: end;
}

.info-col-3 input {
  width: 2.5em;
}

.info-col-6 input,
.info-col-7 input {
  width: 1.5em;
}

.info-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}

.download button, .globalSettings button {
  font-family: 'Tektur';
  font-size: large;
}

button {
  box-shadow: 1px 1px 2px grey;
  border: 1px solid gray;
  border-radius: 4px;
  font-weight: bold;
}

.reset {
  margin-right: 2.5em;
}

.light {
  color: #dadada;
  font-family: 'Indie Flower';
  text-shadow: -1px 1px 6px rgb(56, 56, 56);
}

.dark {
  font-family: 'Indie Flower';
  text-shadow: -1px 1px 6px rgb(255, 255, 255);
}