.card {
  width: 22em;
  height: 14em;
  border: 1px solid black;
  box-shadow: 5px 5px 2px rgb(68, 68, 68);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, 1fr);
}

.titre1, .titre2 {
  font-weight: bold;
}

.titre1, .titre2, .titre3, .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titre1 {
  grid-row: 4 / 5;
}

.titre2 {
  grid-row: 6 / 7;
}

.titre3 {
  grid-row: 8 / 9;
}

.contact {
  grid-row: 11 / 13;
  gap: 0.2em;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}