.card {
  width: 22em;
  height: 14em;
  border: 1px solid black;
  box-shadow: 5px 5px 2px rgb(68, 68, 68);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, 1fr);
  overflow: hidden;
}

.title1, .title2, .title3, .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title1 {
  grid-row: 4 / 5;
}

.title2 {
  grid-row: 6 / 7;
}

.title3 {
  grid-row: 8 / 9;
}

.contact {
  grid-row: 11 / 13;
  gap: 0.2em;
}

.contact-email, .contact-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}