:root {
  --dark-color: rgb(16, 14, 29);
  --light-color: rgb(223, 235, 245);
}

#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  background: 
    linear-gradient(to right, 
    var(--light-color), 
    var(--dark-color), 
    var(--dark-color), 
    var(--dark-color), 
    var(--dark-color), 
    var(--light-color));
}

.footer {
  font-family: 'Dekko';
  color: rgb(200, 200, 200);
}

.title-page {
  font-family: 'Audiowide';
}

.titles {
  font-family: 'Audiowide';
}

button {
  box-shadow: 1px 1px 2px grey;
  border: 1px solid gray;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

img {
  cursor: pointer;
}

.light {
  color: #dadada;
  text-shadow: -1px 1px 6px rgb(56, 56, 56);
}

.dark {
  text-shadow: -1px 1px 6px rgb(255, 255, 255);
}